<div ng-app="hotSpot">
	<ul class="nav">
		<li><a href="#showCollections"> All Collections </a></li>
	</ul>
	<div id="mainView">
		<div ng-view></div>
	</div>
</div>
<script src="assets/hotspot_app.js"></script>