<!DOCTYPE html>
<html>
<head>
<title></title>
<script type="text/javascript"></script>
<style type="text/css">
	.imgmap{
    position:absolute;
    z-index:10;
    box-sizing:border-box;
    margin:0;
    padding:0;
	}
	div.mapcircle{
    display:block;
    position:absolute;
    background-color:red;
    border-radius:50%;
	}

</style>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="hotspot.js"></script>
</head>
<body>
<div style="left: 20%">
  <img src="image.jpg" id="main-canvas" usemap="#hotspots" width="640px" height="480px">
  <map name="hotspots">
   	<area shape="circle" 
          coords="73,168,32"
          href="/hotspots/hs1.html" 
          alt="HotSpot"
          target="_self"/>
  </map>	
</div>
</body>
</html>