<div class="container">
    <div class="row hotspot-image">
        <img ng-src="{{ interface.image }}" usemap="#hotspots" imageonload class="{{ interface.title }}">

        <div class='imgmap' ng-click="addHotspot( $event )">
            <div class="mapcircle"
                 style="left: {{hotspot.x - hotspot.icon_scale }}px; top: {{ hotspot.y - hotspot.icon_scale  }}px; width: {{ hotspot.icon_scale * 2}}px; height: {{ hotspot.icon_scale * 2}}px;"
                 data-ng-repeat="hotspot in hotspots">
            </div>
        </div>
    </div>
    <div class="row hotspots">
        <fieldset data-ng-repeat="hotspot in hotspots">
            <div class="row hotspot">
                <div class="col-md-1">
                    <label>X</label>
                    <input type="edit" name="coord_x" class="form-control" ng-model="hotspot.x">

                    <label>Y</label>
                    <input type="edit" name="coord_y" class="form-control" ng-model="hotspot.y">
                </div>
                <div class="col-md-1">
                    <label>Size:</label>
                    <input type="edit" name="icon-scale" class="form-control" ng-model="hotspot.icon_scale">

                    <label>Price:</label>
                    <input type="edit" name="price" class="form-control" ng-model="hotspot.price">
                </div>
                <div class="col-md-4">
                    <label>Image Hotspot:</label>
                    <form action="/upload_hotspot_image"  method="post" enctype="multipart/form-data">
                        <input type="file" name="image" class="btn btn-file btn-sm" />
                        <input type="hidden" name="hotspot_id" value="{{ hotspot.id }}">
                        <input type="submit" name="submit" value="Upload" class="btn btn-primary btn-xs" />
                    </form>

                    <label>Link to:</label>
                    <input type="edit" name="link_to" class="form-control" ng-model="hotspot.link_to">
                </div>
                <div class="col-md-5">
                    <label>Description:</label>
                    <input type="edit" name="description" class="form-control" ng-model="hotspot.description">

                    <label>Position:</label>
                    <input type="radio" value="Top" ng-model="hotspot.position"> Top<br>
                    <input type="radio" value="Left" ng-model="hotspot.position"> Left<br>
                    <input type="radio" value="Bottom" ng-model="hotspot.position"> Bottom<br>
                    <input type="radio" value="Right" ng-model="hotspot.position"> Right<br>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-danger delete-hotspot" ng-click="deleteHotspot(hotspot.id);">Delete</button>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <button class="btn btn-primary save-hotspot" ng-click="saveHotspots();">Save Hotspots</button>
    </div>
</div>