<div class="container"> 
	<div class="row hotspot-image">
		<img ng-src="{{ interface.image }}" usemap="#hotspots" imageonload class="{{ interface.title }}">
		<div class='imgmap' ng-click="addHotspot( $event )">
			<div class="mapcircle" 
					 style="left: {{hotspot.x - hotspot.icon_scale }}px; top: {{ hotspot.y - hotspot.icon_scale  }}px; width: {{ hotspot.icon_scale * 2}}px; height: {{ hotspot.icon_scale * 2}}px;" 
					 data-ng-repeat="hotspot in hotspots">
			</div>
		</div>
	</div>
	<div class="row hotspots">
		<fieldset data-ng-repeat="hotspot in hotspots">
			<div class="row hotspot">
				<div class="col-md-2">
					<label>X</label>
					<input type="edit" name="coord_x" class="form-control" ng-model="hotspot.x">
				</div>
				<div class="col-md-2">
				  <label>Y</label>
				  <input type="edit" name="coord_y" class="form-control" ng-model="hotspot.y">
				</div>
				<div class="col-md-2">
				  <label>Icon scale:</label>
				  <input type="edit" name="icon-scale" class="form-control" ng-model="hotspot.icon_scale">
				</div>
				<div class="col-md-2">
					<button class="btn btn-danger delete-hotspot" ng-click="deleteHotspot(hotspot.id);">Delete Hotspots</button>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="row">
		<button class="btn btn-primary save-hotspot" ng-click="saveHotspots();">Save Hotspots</button>
	</div>
</div>