<div id="viewEdit" class="container">
	<div class="row hotspot-collection">
		<h2>Collection:</h2>
		<fieldset class="form-group">
			<label for="title">Title</label>
			<input type="edit" class="form-control" id="title" placeholder="Title" ng-model="hotspot_collection.title">
			<label for="icon">Icon</label>
			<input type="file" class="form-control" id="icon" ng-model="hotspot_collection.icon">
		</fieldset>
		<button class="btn btn-primary save-collection" ng-click="saveHotspotCollection();">Save</button>
		<button class="btn btn-danger cancel" go-link="/showCollections">Cancel</button>
	</div>
	<div class="row hotspot-image">
		<img ng-src="{{ collection.image.src }}" style="width: 350px; heigth: 350px;">
	</div>
	<div class="row interfaces" ng-show="hotspot_collection.id">
		<h2>Interfaces:</h2>
		<div class=" row interface">
			<div class="col-md-2">
				<span>Slider:</span>
			</div>
			<div class="col-md-10">
				<button class="btn btn-primary" ng-click="addInterface('slider')" ng-hide="interfaces.slider">Create</button>
				<button class="btn btn-primary" go-link="/addHotspots/{{ interfaces.slider.id }}" ng-show="interfaces.slider">Add Hotspot</button>
				<button class="btn btn-primary" ng-click="showHotspots('slider')" ng-show="interfaces.slider">Show Hotspots</button>
			</div>
		</div>
		<div class="row interface">
			<div class="col-md-2">
				<span>Trend:</span>
			</div>
			<div class="col-md-10">	
				<button class="btn btn-primary" ng-click="addInterface('trend')" ng-hide="interfaces.trend">Create</button>
				<button class="btn btn-primary" go-link="/addHotspots/{{ interfaces.trend.id }}" ng-show="interfaces.trend">Add Hotspot</button>
				<button class="btn btn-primary" ng-click="showHotspots('trend')" ng-show="interfaces.trend">Show Hotspots</button>
			</div>
		</div>
		<div class="row interface">	
			<div class="col-md-2">
				<span>Gallery:</span>
			</div>
			<div class="col-md-10">
				<button class="btn btn-primary" ng-click="addInterface('gallery')" ng-hide="interfaces.gallery">Create</button>
				<button class="btn btn-primary" go-link="/addHotspots/{{ interfaces.gallery.id }}" ng-show="interfaces.gallery">Add Hotspot</button>
				<button class="btn btn-primary" ng-click="showHotspots('gallery')" ng-show="interfaces.gallery">Show Hotspots</button>
			</div>
		</div>		
	</div>
</div>