<div id="viewEdit" class="container">
	<div class="row hotspot-collection">
		<div class="data col-md-6">
			<h2>Collection:</h2>
			<fieldset class="form-group">
    		<label for="title">Title</label>
    		<input type="edit" class="form-control" id="title" placeholder="Title" ng-model="hotspot_collection.title">
    		<label for="icon">Icon</label>
    		<input type="file" class="form-control" id="icon" ng-model="hotspot_collection.icon">
  		</fieldset>
  		<button class="btn btn-primary save-collection" ng-click="saveHotspotCollection();">Save</button>
  		<button class="btn btn-danger cancel" go-link="/showCollections">Cancel</button>
		</div>
		<div class="image col-md-6">
			<h2>Featured image:</h2>
			<img ng-src="{{ collection.image.src }}" style="width: 350px; heigth: 350px;" usemap="#hotspots">
			<map name="hotspots">
		  	<area shape="circle" coords="40,40,8" href="/hotspots/hs1.html" alt="HotSpot" target="_self"/>
	    </map> 
		</div>
	</div>
	<div class="row interfaces">
		<div class="interface_sel col-md-6">
			<h2>Interfaces:</h2>
			<fieldset>
				<div class="interface">
    			<span>Slider:</span>
    			<button class="btn btn-primary" ng-click="addHotspot('slider')">Build</button>
				</div>
				<div class="interface">
    			<span>Trend:</span>
    			<button class="btn btn-primary" ng-click="">Build</button>
    		</div>
    		<div class="interface">	
    			<span>Gallery:</span>
    			<button class="btn btn-primary" ng-click="">Build</button>
    		</div>
    	</fieldset>
		</div>
		<div class="hotspots col-md-6">
			<h2>Hotspots:</h2>
			<div class="hotspot">
				<span>x: {{}} </span>
			</div>
		</div>
	</div>
</div>