.imgmap{
  position:absolute;
  z-index:10;
  box-sizing:border-box;
  margin:0;
  padding:0;
}
div.mapcircle{
  display:block;
  position:absolute;
  background-color:red;
  border-radius:50%;
}
  
#mainView {
	clear: both;
	padding: 0 1em;
}
.active {
    background-color: #FFF !important;
    color: #000 !important;
}
.container {
    margin: 0px 0px 0px 0px;
}


.interfaces, .hotspot-collection, .hotspot-image, .hotspot {
  border-bottom:1px solid lightgrey;
  padding: 10px;
}
.interface button {
  padding-left: 5px;
}
.interface span {
  margin-right: 10px;
}
.data, .interface_sel {
  border-right: 1px solid lightgrey; 
}

img {
  border: 1px solid black;
}
.collection-image{
  width: 100px;
  height: 100px;
}

.custom-collection {
  margin-bottom: 12px;
  border-bottom: 1px solid lightgray;
  min-height: 120px;
}
.title-custom-collection {
  margin-bottom: 12px;
  border-bottom: 1px solid lightgray; 
}
